*{
  box-sizing: border-box;
}
body{
  margin: 0;
}
.App p{
  font-size: 1.2rem;
  margin-left: 2rem;
  display: flex;
  gap: 0.5em;
  border-bottom: 1px solid black;
  width: fit-content;
  padding: 1% 0;
}
.App p span{
  min-width: 8rem;
  max-width: 8rem;
  word-wrap: break-word;
}